
<table border="1" style="width: 100%; border-collapse: collapse; text-align: middle;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Extension</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        {% for e in employees %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.extension }}</td>
            <td>{{ e.email }}</td>
            <td> {{e.salary}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>