

<h1> Employee Details</h1>
<table border="1">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Extension</th>
        <th>Employee Email</th>
        <th>Employee Title</th>
        <th>Employee Salary</th>

    </tr>
    {% for s in salar %}
    <tr>

        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.extension }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.title }}</td>
        <td>{{ s.salary }}</td>
  
    {% endfor %}
    </tr>
</table>