
<table border="1" style="width: 100%; border-collapse: collapse; text-align: middle;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Extension</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        {% for s in salaries %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.extension }}</td>
            <td>{{ s.email }}</td>
            <td> {{s.salary}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>